/* line 3, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light h1,
.bg_light h2,
.bg_light h3,
.bg_light h4,
.bg_light h5,
.bg_light h6,
.bg_light p,
.bg_light li,
.bg_light button,
.bg_light span {
  color: #0a0a0a; }

/* line 16, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light a:not(.fm_button),
.bg_light a span {
  color: #0a0a0a; }

/* line 24, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light .fm_button.primary {
  background-color: #0a0a0a;
  color: #fefefe;
  border-color: #0a0a0a; }
  /* line 29, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light .fm_button.primary:hover, .bg_light .fm_button.primary:focus-visible {
    background-color: #fbc34a;
    color: #0a0a0a;
    border-color: #fbc34a; }

/* line 37, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light .fm_button.secondary {
  background-color: transparent;
  border-color: #0a0a0a;
  color: #0a0a0a; }
  /* line 42, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light .fm_button.secondary:hover {
    background-color: #e9edf0; }

/* line 48, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light .fm_button.tertiary {
  background-color: #e9edf0;
  border-color: #e9edf0;
  color: #0a0a0a; }
  /* line 53, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light .fm_button.tertiary:hover, .bg_light .fm_button.tertiary:focus-visible {
    background-color: #ced2db;
    border-color: #ced2db; }

/* line 60, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light .fm_button.text {
  color: #0a0a0a; }

/* line 67, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light.bg_white {
  background-color: #fefefe; }
  /* line 79, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light.bg_white + footer {
    margin-top: 2vw; }

/* line 85, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light.bg_yellow {
  background-color: #fbc34a; }
  /* line 88, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light.bg_yellow.textured {
    background-image: url("../../../../../_images/textures/yellow.jpg"); }
  /* line 96, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light.bg_yellow .fm_button.primary:hover {
    background-color: #9091ce;
    border-color: #9091ce; }

/* line 108, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light.bg_blue {
  background-color: #50c1e3; }
  /* line 111, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light.bg_blue.textured {
    background-image: url("../../../../../_images/textures/blue.jpg"); }

/* line 118, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light.bg_purple {
  background-color: #9091ce; }
  /* line 121, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light.bg_purple.textured {
    background-image: url("../../../../../_images/textures/purple.jpg"); }

/* line 128, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light.bg_green {
  background-color: #5fc290; }
  /* line 131, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light.bg_green.textured {
    background-image: url("../../../../../_images/textures/green.jpg"); }

/* line 138, ../../styles/bg_colors/bg_light/_bg_light.scss */
.bg_light.bg_orange {
  background-color: #fb8d4d; }
  /* line 141, ../../styles/bg_colors/bg_light/_bg_light.scss */
  .bg_light.bg_orange.textured {
    background-image: url("../../../../../_images/textures/orange.jpg"); }

/* line 3, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
.bg_light .bg_dark h1,
.bg_light .bg_dark h2,
.bg_light .bg_dark h3,
.bg_light .bg_dark h4,
.bg_light .bg_dark h5,
.bg_light .bg_dark h6,
.bg_light .bg_dark p,
.bg_light .bg_dark li,
.bg_light .bg_dark button,
.bg_light .bg_dark span {
  color: #fefefe; }

/* line 16, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
.bg_light .bg_dark a:not(.fm_button),
.bg_light .bg_dark a span {
  color: #fefefe; }

/* line 25, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
.bg_light .bg_dark .fm_button.primary {
  background-color: #fbc34a;
  color: #0a0a0a;
  border-color: #fbc34a; }
  /* line 30, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
  .bg_light .bg_dark .fm_button.primary:hover, .bg_light .bg_dark .fm_button.primary:focus-visible {
    background-color: #fefefe;
    border-color: #fefefe; }

/* line 37, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
.bg_light .bg_dark .fm_button.secondary {
  background-color: transparent;
  border-color: #fefefe;
  color: #fefefe; }
  /* line 42, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
  .bg_light .bg_dark .fm_button.secondary:hover, .bg_light .bg_dark .fm_button.secondary:focus-visible {
    background-color: #3a3d44; }

/* line 48, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
.bg_light .bg_dark .fm_button.tertiary {
  background-color: #3a3d44;
  border-color: #3a3d44;
  color: #fefefe; }
  /* line 53, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
  .bg_light .bg_dark .fm_button.tertiary:hover, .bg_light .bg_dark .fm_button.tertiary:focus-visible {
    background-color: #303038;
    border-color: #303038; }

/* line 60, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
.bg_light .bg_dark .fm_button.text {
  color: #fefefe; }

/* line 66, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
.bg_light .bg_dark.bg_black {
  background-color: #0a0a0a; }
  /* line 69, ../../styles/bg_colors/bg_dark/_bg_dark.scss */
  .bg_light .bg_dark.bg_black.textured {
    background-image: url("../../../../../_images/textures/black.jpg"); }

/*# sourceMappingURL=bg_light.css.map */