/* line 6, ../../fm_assorted/accordion/fm_accordion.scss */
.fm_accordion .accordion {
  width: 100%;
  overflow: hidden;
  border: 1px solid #0a0a0a;
  border-bottom: 1px solid #fefefe; }
  /* line 12, ../../fm_assorted/accordion/fm_accordion.scss */
  .fm_accordion .accordion:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  /* line 17, ../../fm_assorted/accordion/fm_accordion.scss */
  .fm_accordion .accordion:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom: 1px solid #0a0a0a;
    border-bottom-right-radius: 4px; }
  /* line 23, ../../fm_assorted/accordion/fm_accordion.scss */
  .fm_accordion .accordion__intro {
    position: relative;
    padding: 30px 90px 30px 33px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    background-color: #0a0a0a;
    color: #fefefe; }
    /* line 32, ../../fm_assorted/accordion/fm_accordion.scss */
    .fm_accordion .accordion__intro h3 {
      color: #fefefe;
      margin-bottom: 0px; }
    /* line 37, ../../fm_assorted/accordion/fm_accordion.scss */
    .fm_accordion .accordion__intro div {
      margin-bottom: 0px; }
    /* line 43, ../../fm_assorted/accordion/fm_accordion.scss */
    .fm_accordion .accordion__intro svg {
      position: absolute;
      right: 33px;
      top: calc(50% - 7px);
      transform: rotate(90deg);
      width: 10px;
      height: 14px; }
  /* line 55, ../../fm_assorted/accordion/fm_accordion.scss */
  .fm_accordion .accordion__content {
    padding: 0 33px 0px 0px;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.25s ease-out;
    opacity: 0; }
    /* line 64, ../../fm_assorted/accordion/fm_accordion.scss */
    .fm_accordion .accordion__content p:first-of-type {
      margin-top: 0px; }
    /* line 68, ../../fm_assorted/accordion/fm_accordion.scss */
    .fm_accordion .accordion__content p:last-of-type {
      margin-bottom: 33px; }
  /* line 74, ../../fm_assorted/accordion/fm_accordion.scss */
  .fm_accordion .accordion__active {
    margin-top: -1px; }
    /* line 77, ../../fm_assorted/accordion/fm_accordion.scss */
    .fm_accordion .accordion__active .accordion__intro {
      background-color: #fefefe;
      color: #0a0a0a; }
      /* line 81, ../../fm_assorted/accordion/fm_accordion.scss */
      .fm_accordion .accordion__active .accordion__intro h3 {
        color: #0a0a0a; }
      /* line 85, ../../fm_assorted/accordion/fm_accordion.scss */
      .fm_accordion .accordion__active .accordion__intro svg {
        transform: rotate(-90deg); }
    /* line 90, ../../fm_assorted/accordion/fm_accordion.scss */
    .fm_accordion .accordion__active .accordion__content {
      padding: 0 33px 33px;
      opacity: 1; }

/* line 102, ../../fm_assorted/accordion/fm_accordion.scss */
.bg_dark .fm_accordion .accordion {
  border: 1px solid #fefefe;
  border-bottom: 1px solid #0a0a0a; }
  /* line 107, ../../fm_assorted/accordion/fm_accordion.scss */
  .bg_dark .fm_accordion .accordion:last-of-type {
    border-bottom: 1px solid #fefefe; }
  /* line 113, ../../fm_assorted/accordion/fm_accordion.scss */
  .bg_dark .fm_accordion .accordion__intro {
    background-color: #fefefe;
    color: #0a0a0a; }
    /* line 118, ../../fm_assorted/accordion/fm_accordion.scss */
    .bg_dark .fm_accordion .accordion__intro h3 {
      color: #0a0a0a; }
  /* line 129, ../../fm_assorted/accordion/fm_accordion.scss */
  .bg_dark .fm_accordion .accordion__active .accordion__intro {
    background-color: #0a0a0a;
    color: #fefefe; }
    /* line 133, ../../fm_assorted/accordion/fm_accordion.scss */
    .bg_dark .fm_accordion .accordion__active .accordion__intro h3 {
      color: #fefefe; }

/*# sourceMappingURL=fm_accordion.css.map */